.bg {
    background-image: url("../../assets/wheat.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align:center;
    background-attachment: fixed;
    background-color: black;
    background-blend-mode: screen;
    }

.App {
    text-align: center;
}

.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: rgb(28, 43, 23);
    font-size: 4.5vw;
    background-color: rgba(0, 0, 0,.3)
}

.text2{
    font-family: 'Lato', sans-serif;
    font-size: 2.25vw;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}
/* Gives the company announcements a more centered look without centering the text */ 
.company-announcement {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15vw;
}