body{
	font:16px/1.6 Arial,  sans-serif;
}

.footer-mobile-responsive{
	background-color: #343a40;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}

.footer-mobile-responsive .footer-left{
	width: 33%;
}

.footer-mobile-responsive h3{
	color:  #ffffff;
	margin: 0;
}


.footer-mobile-responsive .footer-left img{
	width: 32%;
	border-radius: 35%;
}

.footer-mobile-responsive h3 span{
	color:  #325d3c;
}


.footer-mobile-responsive .footer-quick-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-mobile-responsive .footer-quick-links a{
    text-decoration: none;
    padding-left: 10px;
    color: grey;
    display: block;
    margin: 10px;
    font-size: 0.9em;
    transition: all .3;
}

.footer .footer-content .links ul a:hover {
    text-decoration: none;
    color: white;
    margin-left: 15px;
    transition: all .3s;
}

.footer-mobile-responsive .footer-company-text{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.footer-mobile-responsive .footer-center{
	width: 35%;
}


.footer-mobile-responsive .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 39px;
	height: 39px;
	border-radius: 50%;
	text-align: center;
	line-height: 43px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-mobile-responsive .footer-center i.fa-envelope{
	font-size: 18px;
	line-height: 38px;
}

.footer-mobile-responsive .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}


.footer-mobile-responsive .footer-right{
	width: 30%;
}

.footer-mobile-responsive .footer-company-about{
	line-height: 22px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-mobile-responsive .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 22px;
}

.footer-mobile-responsive .footer-icons a{
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 4px;
	margin-bottom: 6px;

	display: inline-block;
	width: 37px;
	height: 37px;
	cursor: pointer;
	background-color:  #464849;
	border-radius: 2px;
}

.footer-mobile-responsive .footer-left,
.footer-mobile-responsive .footer-center,
.footer-mobile-responsive .footer-right{
	display: inline-block;
	vertical-align: top;
}

.footer-mobile-responsive .footer-icons{
	margin-top: 25px;
}

.footer-mobile-responsive .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-mobile-responsive .footer-center p a{
	color:  #325d3c;
	text-decoration: none;;
}

/* Elements that make the footer mobile responsive */
@media (max-width: 880px) {

	.footer-mobile-responsive .footer-left,
	.footer-mobile-responsive .footer-center,
	.footer-mobile-responsive .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-mobile-responsive .footer-center i{
		margin-left: 0;
	}

}

/* Keeps footer at the bottom of the page */
@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}

