.about-hero-section {
    background: url("../../assets/tubes.jpg") 50% no-repeat;
    background-size: cover;
    height: 30vh;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text-center {
    text-align: center;
  }
  .heading-title h3 {
    margin-bottom: 0;
    letter-spacing: 3px;
    font-weight: normal;
    text-transform: uppercase;
  }
  .heading-detail p{
    width: 100%;
    letter-spacing: 2px;
    font-weight: darker;
  }
  .heading-title h1 {
  margin-bottom: 0;
  letter-spacing: 3px;
  font-weight: normal;
  text-transform: uppercase;
  }
  
  /* Four columns side by side */
  .column {
    width: 25%;
    margin-bottom: 0px;
    margin-top: 0px; 
    padding: 0 8px;
    
  }

  .center-txt {
    padding-top: 25px;
    width: 60%;
    margin: 0 auto;
    display: inline-block;
    line-height: 25px;
    color: #7e7e7e;
}
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100;
      display: block;
    }
  }
  
  .card-img-top {
    padding-top: 10px;
    width: 100%;
    height: 35w;
    object-fit: cover;
    border-radius: 10%;
  }