.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}


body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    color: #323232;
    font-size: 15px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

.text-center {
    text-align: center;
}
.heading-title h3 {
    margin-bottom: 0;
    letter-spacing: 3px;
    font-weight: normal;
    text-transform: uppercase;
}
.heading-detail p{
    width: 100%;
    letter-spacing: 2px;
    font-weight: lighter;
}
.heading-title h1 {
  margin-bottom: 0;
  letter-spacing: 3px;
  font-weight: normal;
  text-transform: uppercase;
}

.center-txt {
    padding-top: 25px;
    width: 60%;
    margin: 0 auto;
    display: inline-block;
    line-height: 25px;
    color: #7e7e7e;
}

.executive-listing {
    position: relative;
    overflow: hidden;
    padding-top: 30px;
    top: 35%;
    opacity: 1;
    bottom: 10%;

}

.executive-img {
    position: relative;
    overflow: hidden;
    opacity: 1;
    bottom: 10%;
    
}

.text-caps {
    text-transform: uppercase;
}

/* Four columns side by side */
.column {
    width: 20%;
    margin-bottom: 0px;
    margin-top: 0px; 
    padding: 0 8px;
    
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 0px; /* Added */
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }

  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .card:hover {
    background-color: #555;
  }

  .card-img-top {
    padding-top: 10px;
    width: 100%;
    height: 35w;
    object-fit: cover;
    border-radius: 10%;
}

.centered-cards {
    justify-content: center;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

  }

.card-img-top:hover {
    opacity: 0.3;
}

.social-connect {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .social-connect {
  opacity: 1;
}

.hero-section {
  background: url('https://alzheimersnewstoday.com/wp-content/uploads/2016/03/shutterstock_114563296-1400x480@2x.jpg') 50% no-repeat;
  background-size: cover;
  height: 60vh;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section-text {
  color: white;
  text-shadow: 1px 1px 2px black;
}

.centered-font-awesome {
   
    color:white;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: bottom;
}

.card-fa {
  width: 100%;
  min-height: 132px;
  text-align:center;
}
.card-fa .fa {
  display:inline-block;
  vertical-align:middle;

  font-size: 3.3em;
  background-color: #fff;
  border: 5px solid #90EE90;
  border-radius: 38px;
  height: 52px;
  line-height: 44px;
  width: 52px;
  margin:20px 5px;
}

.center-txt-alt {
  padding-top: 0px;
  width: 60%;
  margin: 0 auto;
  display: inline-block;
  line-height: 25px;
  color: #7e7e7e;
}