.text-center {
  text-align: center;
}
.heading-title h3 {
  margin-bottom: 0;
  letter-spacing: 3px;
  font-weight: normal;
  text-transform: uppercase;
}
.heading-detail p{
  width: 100%;
  letter-spacing: 2px;
  font-weight: darker;
}
.heading-title h1 {
margin-bottom: 0;
letter-spacing: 3px;
font-weight: normal;
text-transform: uppercase;
}

/* Four columns side by side */
.column {
  width: 25%;
  margin-bottom: 0px;
  margin-top: 0px; 
  padding: 0 8px;
  
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100;
    display: block;
  }
}

.card-img-top {
  padding-top: 10px;
  width: 100%;
  height: 35w;
  object-fit: cover;
  border-radius: 10%;
}


.hero-section {
background: url('./Technology.jpg') 50% no-repeat;
background-size: cover;
height: 60vh;
width: 100%;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
}

.carbon-hero-section {
  background: url('./Carbon.jpeg') 50% no-repeat;
  background-size: cover;
  height: 60vh;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.culture-hero-section {
  background: url('./Culture.jpg') 50% no-repeat;
  background-size: cover;
  height: 60vh;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.growth-hero-section {
  background: url('./GrowthRate.jpg') 50% no-repeat;
  background-size: cover;
  height: 60vh;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productivity-hero-section {
  background: url('./Productivity.jpg') 50% no-repeat;
  background-size: cover;
  height: 60vh;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.greateryield-hero-section {
  background: url('./ProductYield.jpg') 50% no-repeat;
  background-size: cover;
  height: 60vh;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.robust-hero-section {
  background: url('./Robust.jpg') 50% no-repeat;
  background-size: cover;
  height: 60vh;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titers-hero-section {
  background: url('./Titers.jpg') 50% no-repeat;
  background-size: cover;
  height: 60vh;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tolerance-hero-section {
  background: url('./Tolerance.jpg') 50% no-repeat;
  background-size: cover;
  height: 60vh;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq-hero-section {
  background: url('./FAQ.jpg') 50% no-repeat;
  background-size: cover;
  height: 60vh;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selection-hero-section {
  background: url('./Selection.jpg') 50% no-repeat;
  background-size: cover;
  height: 60vh;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}




